body{
    font-family: 'Raleway', sans-serif;
    background-image: url(./Cordoba\ gastronomica.jpg);
    position: absolute;
}
header{
    background-color: #e4e4e8;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px grey;
    width: 100%;
    height: 110px;
    z-index: 99;
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

.container{
    max-width: 90%;
    text-align: center;
    margin: auto;
}
.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
.header-section p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    line-height: 18px;
}
.logo{
    width: 164px;
    height: 84px;
    cursor: pointer;
}
.comidaTipo{
    float: left;
    background-color: red;
    font-size: 1.5rem;
    width: 20%;
    height: 600px;
    margin-left: 10px;
    padding: 10px;
    margin-top: 10px;
}
.comidaTipo li{
    list-style:none;
    
}
.comidaTipo a{
    text-decoration: none;
    font-weight: 600;
    line-height: 90px;
    color: white;
    
}
.comidaTipo a:hover{
    color: blue;
    
}

.cart{
    width: 39px;
    height: 38px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 10px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}

.products{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
}
.carts p{
    font-weight: 800;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: red;
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: red;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px rgb(0, 0, 0);
    transition-duration: .3s;
}


.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

.readMore_btn {
    background-color:red;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 0px #e4e4e8;
    cursor: pointer;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position:fixed;
    z-index: 1; 
    top: 10;
    left: 0;
    background-color: #e4e4e8; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: red;
    display: block;
    transition: 0.3s

}


.sidenav a:hover, .offcanvas a:focus{
    color: black;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}

.topnav {
    background-color: rgb(255, 0, 0);
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


